<div class="login-container">
  <div fxLayout="row layout-wrap">
    <div fxFlex="70%" fxFlex.md="60%" class="login_background"></div>
    <div
      class="login-wrapper"
      fxFlex="30%"
      fxFlex.xs="100%"
      fxFlex.sm="100%"
      fxFlex.md="40%"
      fxFlexAlign="center"
    >
      <h1>Login to continue</h1>
      <form [formGroup]="loginForm" (ngSubmit)="Onsubmit(loginForm.value)">
        <mat-form-field appearance="outline" fxFlexFill>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="userEmail" email>
            <mat-error *ngIf="loginForm.get('userEmail').errors?.required">
                Please enter your email
            </mat-error>
            <mat-error *ngIf="loginForm.get('userEmail').errors?.email">
              Please enter your valid Email 
            </mat-error>

        </mat-form-field>
        <mat-form-field appearance="outline" fxFlexFill>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="loginForm.get('password').errors?.required">
                Password is required
            </mat-error>
        </mat-form-field>
        <div FlexLayout="row" 
            fxLayoutAlign="space-between">
            <mat-checkbox color="primary">Remember me!</mat-checkbox>
            <a href="#">Forgot Password?</a>
        </div>
        <button type="submit" mat-raised-button color="primary" fxFlexFill [disabled]="!loginForm.valid"> Login</button>
      </form>
    </div>
  </div>
</div>
